html{
    font-size: 10px;
    overflow-x: hidden;
}

body.mainBody{
    overflow-x: hidden;
}

.vMenu{
    position: relative;
}

.topSubMenu{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);

    button{
        white-space: nowrap;
        color: $nav-color !important;
        font-size: 1.4rem;
        background-color: transparent;
        border: none;

            i{
                font-size: 1.2rem;
                margin-right: 0.5rem;
            }
    }
}

.topHeader{
    width: 100%;
    background-color: $white-color;
    position: relative;
    // border-bottom: 1px solid $border-color;

    .fixed-top{
        background-color: $white-color;
        padding: 1rem 0 !important;
        box-shadow: 0 0 15px rgba($main-color,0.3);

        .logoHeader{
            img{
                height: 4rem;
            }

        }

        .subMainMenu{
            .menuHeader{
                padding: 1.4rem;
                background-color: rgba($black-color,0.7);
            }
        }

        .menuHeader{
            
            li{
               
                &.active{
                    position: relative;
                    // a{
                    // }
                    
                }
            }
        }

    }
}

.logoHeader{
    margin-left: auto;
    margin-right: auto;
}

#navbar_top{
    padding: 3.2rem 0;
}

.subMainMenu{
    position: absolute;
    /* bottom: -100%; */
    z-index: 2;
    top: 100%;

    .menuHeader{
        background-color: rgba($black-color,0.3);
        padding: 2.4rem;
        border-radius: 0 0 3rem 3rem;
    }
}

.menuHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'semi';

    li{
        //width: 100%;
        text-align: center;
        margin-right: 1rem;
        padding-right: 1rem;
        position: relative;

        &:last-child{
            margin-right: 0rem;
            padding-right: 0rem;
            &:after{
                display: none;
            }
        }

        &:after{
            content: "";
            position: absolute;
            height: 0.8rem;
            width: 1px;
            background-color: $white-color;
            top: 0;
            transform: translateY(100%);
            right: 0;
        }

        &.active,
        &:hover{
            position: relative;
            a{
                color: $secondry-color !important;
            }
            
        }

        &:last-child{
            margin-right: 0;
        }
        a{
            color: $white-color !important;
            text-transform: capitalize;
            text-decoration: none;
            font-size: 1.6rem;
            padding: 0;

            &.contactUsLink{
                background-color: $secondry-color;
                color: $white-color !important;
                padding: 1rem 2rem !important;
                border-radius: 1rem;
                display: inline-block;

                i{
                    margin-right: 1rem;
                }
            }
        }
    }
}